<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Lista de Competências</h2>
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
    <a th:href="@{/competencia/formulario}" class="btn btn-primary mb-3">
        Nova Competência
    </a>
    <div th:if="${competencias.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="competencia : ${competencias}">
                    <td th:text="${competencia.nome}"></td>
                    <td>
                        <a th:href="@{/competencia/formulario/{id}(id=${competencia.id})}">
                            Editar
                        </a>
                        |
                        <a th:href="@{/competencia/delete/{id}(id=${competencia.id})}"
                           onclick="return confirm('Deseja realmente excluir?')">
                            Excluir
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>