<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Competencia')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Competencia')}"></header>
    <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
        <h2 class="text-center">Lista de Competencias</h2>

        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <a th:href="@{/competencia/formulario}" class="btn btn-primary mb-3">Nova Competencia</a>

        <div th:if="${listaAdmins.size() > 0}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nome</th>
                    <tr>
                <thead>
                <tbody>
                    <tr th:each="competencia : ${listaCompetenccias}">
                        <td th:text="${competencia.nome}"></td>
                        <td>
                            <a th:href="@{/competencia/formulario/{id}(id=${competencia.id})}"
                                title="Editar" class="fa-regular fa-pen-to-square icon-dark"></a>
                            &nbsp;
                            <a th:href="@{/competencia/delete/{id}(id=${competencia.id})}"
                                title="Excluir" class="fa-regular fa-trash-can icon-dark btn-delete"
                                onclick="return confirm('Deseja realmente excluir?')"></a>
                        </td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div th:replace ="~{fragmentos/footer :: footer}"></div>
</body>
</html>