<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Alunos')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Aluno')}"></header>
    <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
        <h2 class="text-center">Lista de Alunos</h2>
        
        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <a th:href="@{/aluno/formulario}" class="btn btn-primary mb-3">Novo Aluno</a>

        <div th:if="${listaAlunos.size() > 0}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">RA</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="aluno : ${listaAlunos}">
                        <td th:text="${aluno.ra}"></td>
                        <td th:text="${aluno.nome}"></td>
                        <td th:text="${aluno.cpf}"></td>
                        <td th:text="${aluno.email}"></td>
                        <td>
                            <a th:href="@{/aluno/formulario/{id}(id=${aluno.id})}"
                               title="Editar" class="fa-regular fa-pen-to-square icon-dark"></a>
                            &nbsp;
                            <a th:href="@{/aluno/delete/{id}(id=${aluno.id})}"
                               title="Excluir" class="fa-regular fa-trash-can icon-dark btn-delete"
                               onclick="return confirm('Deseja realmente excluir?')"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${listaAlunos.size() > 0}" class="alert alert-info text-center">
            Nenhum aluno cadastrado.
        </div>
    </div>
    <div th:replace="~{fragmentos/footer :: footer}"></div>
</body>
</html>