@import "tailwindcss";
@plugin "daisyui";

:root,
html[data-theme="light"] {
      --color-primary: #131100;       
      --color-secondary: #f7f7f8;      
      --color-accent: #DB3920;   
      --color-base-100: #FFF6F1;      
      --color-error: #ee1518;
      --color-right: #69d81d;
}

:root,
@media (prefers-color-scheme: dark) {
      :root:not([data-theme]) {
            --color-primary: #FEFDF6;
            --color-secondary: #221f13;
            --color-accent: #B20000;
            --color-base-100: #131100;
            --color-error: #ff5a5d;
            --color-right: #86e64a;
      }
}

:root,
html[data-theme="dark"] {
      --color-primary: #FEFDF6;
      --color-secondary: #221f13;
      --color-accent: #B20000;
      --color-base-100: #131100;
      --color-error: #ff5a5d;
      --color-right: #86e64a;
}

@font-face {
      font-family: 'Tomato Grotesk Regular';
      src: url('../assets/fonts/TomatoGrotesk-Regular.otf') format('otf');
      font-style: normal;
      font-weight: bold;
}

@font-face {
      font-family: 'Tomato Grotesk Bold';
      src: url('../assets/fonts/TomatoGrotesk-Bold.otf') format('otf');
      font-style: normal;
      font-weight: normal;
}

@font-face {
      font-family: 'Inter Tight';
      src: url('../assets/fonts/InterTight-VariableFont_wght.ttf') format('ttf');
      font-weight: 100 900;
      font-style: normal;
      font-display: swap;
}

@theme {
      --font-primary: "Tomato Grotesk", sans-serif;
      --font-secondary: "Inter Tight", sans-serif; 
}

body {
  /* For WebKit (Safari, Chrome) */
  -webkit-font-smoothing: antialiased;
  
  /* For Firefox on macOS */
  -moz-osx-font-smoothing: grayscale;
}
